.Rproj.user
.Rhistory
.RData
.Ruserdata
CARTON-GIESE_SODA_v2p1p6_sstemp.nc
SODA_monthly_data.R
CARTON-GIESE_SODA_v2p1p6_sstemp.nc.7z
041019_Temp_Data_All_Years.Rmd
extracted_temp_values_SODA.R
latlong_temp_values.Rdata
SODA_montly_data_beforesplit.R

